.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  width: 328px;
  flex-wrap: wrap;
}
img {
  width: 148px;
  height: 148px;
  margin: 276px 89px 30px 91px;
  object-fit: contain;
  justify-content: center;
}
.Email,
.Pw {
  width: 296px;
  height: 54px;
  font-family: Pretendard;
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #767676;
  border-radius: 4px;
  background-color: #efeff2;
  border-color: #efeff2;
  margin-bottom: 12px;
  border-style: none;
}
.Pw {
  margin-bottom: 16px;
}

label {
  align-self: flex-start;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #111;
}
.Auto {
  width: 24px;
  height: 24px;
  margin: 0px 8px 0px 0;
  align-self: flex-start;
  justify-self: flex-start;
  display: inline;
}

button {
  width: 328px;
  height: 56px;
  margin: 32px 0 0;
  /* padding: 19px 143px 18px 144px; */
  border-radius: 4px;
  background-color: #60bceb;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  border-style: none;
  /* text-align: left; */
  color: #fff;
}
