@mixin margin-setting($margin-left, $width) {
  margin-left: $margin-left;
  width: $width;
}

.birthday-item {
  display: flex;
  width: 1618px;
  height: 56px;
  margin-left: 30px;
  align-items: center;
  border: solid 1px #efeff2;
  background-color: white;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #111;
  z-index: 500;
  &-name {
    @include margin-setting(507px, 110px);
  }
  &-nickname {
    @include margin-setting(80px, 110px);
  }
  &-birthday-date {
    @include margin-setting(80px, 224px);
  }
}
