$primary-blue-main: #60bceb;
$primary-blue-disabled: #b9ddf3;
$primary-blue-darken: #018ad0;
$white: #ffffff;
$gray-100: #f8f8fa;
$gray-200: #efeff2;
$gray-300: #d8d8d8;
$gray-400: #999999;
$gray-500: #767676;
$gray-600: #111111;
$error-red: #dc0000;
$success-green: #46b712;
