.Rqitem {
  display: flex;
  width: 1618px;
  height: 56px;
  margin-left: 30px;
  align-items: center;
  border: solid 1px #efeff2;
  background-color: white;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #111;
  z-index: 500;
  &Name {
    width: 110px;
    margin-left: 258px;
  }
  &NickName {
    width: 110px;
    margin-left: 80px;
  }
  &RType {
    width: 110px;
    margin-left: 80px;
  }
  &RTime {
    width: 140px;
    margin-left: 81px;
  }
  &Rdate {
    width: 180px;
    margin-left: 80px;
  }
  &RState {
    width: 52px;
    margin-left: 80px;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
  }
}
